:root{
  --main-color: #191919;
  --font-color: #6d3041;
}

.App {
  overflow-x: hidden;
}

.App-header {
  background-color: var(--main-color);
  color: white;
}
.navbar-dark .navbar-nav .nav-link{
  color: var(--font-color);
}
.nav-link:hover{
  color: var(--font-color);
}
.imageForm{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;

  color: var(--font-color);
  background-color: var(--main-color);
  padding: 50px;
}
.previewImage{
  margin-top: 20px;
  width: 750px;
  height: 385px;
}
